*.iml
*.swp
*.log
*.out
*.sublime*
*~
.DS_Store
.cache
.classpath
.history
.idea*
.project
.settings
.svn/
.target
target/
project/project/
project/target/
Notepad++/
RUNNING_PID
__MACOSX
bin/*.class
cvs/
description.html
lectureId
logs
project/project
project/target
tmp
